name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install non-Python build dependencies (Ubuntu)
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: sudo apt-get -y install gettext
      - name: Install pyright
        run: npm install -g pyright
      - name: Install Python dependencies
        run: pip install tox build setuptools chambercourt
      - name: Build
        run: |
          tox
          make build
          PYTHONPATH=. python -m wincoll --help
          pip install .
          wincoll --help
